.box {
    width:100%;
    height:auto;
    background:#FFF;
    margin:15px auto;
	
}
.effect1{
    <!-- -webkit-box-shadow: 0 10px 6px -6px #777; -->
    <!-- -moz-box-shadow: 0 10px 6px -6px #777; -->
    <!-- box-shadow: 0 10px 6px -6px #777; -->
	
	box-sizing:border-box;	
	-webkit-box-shadow: 0 1px 2px 0px rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
	box-shadow:0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15)
	<!-- -webkit-box-shadow:0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) -->
}
.rcorners1 {
  border-radius: 5px;
  border: 0.5px solid #C0C0C0;
  padding: 10px; 
  
}

.section {
  font-family: 'Roboto', sans-serif;   /* Add 'Roboto' here */
  font-size: 15px;
  line-height: 1.8em;
  color: #5D6063;
  <!-- padding:20px 20px 12px 20px; -->
}